@font-face {
    font-family: "Rudiment";
    src: url("Rudiment.ttf") format("truetype");
}
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin-right: 10px;
    height: 100px;
    width: 100%;
    background: rgb(61,57,53);
    background: linear-gradient(0deg, rgba(61,57,53,0) 0%, rgba(255,255,255,1) 100%); 
}
.nav_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#menu_scrow ul li {
    display: inline; 
    
}
#menu_scrow ul li a {
    border: medium none;
    color: #3D3935;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
}

#menu_scrow ul li a:hover {
    color: #FFB500;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo img {
    width: 100px;
    height: 100px;
    margin: 5px 0px 0 10px;
}
.logo p {
    color:#F4313F;
    font-weight: bold;
    font-size: 25pt;
    font-family: 'Dancing Script', cursive;
}
.inform_main {
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 615px;
} 
.download_info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}
.text_animation {
   width: 100%;
}
.text_animation h3 {
    margin-bottom: 10px;
}
.text_transation {
    height: 0px;
}
.text_transation h3 {
    margin: 0px;
    text-align: center;
}
.text_transation span {
    font-size: 80pt;
    margin-top: 20px;
    margin-bottom: 20px;
}
.download_info h3 {
    font-size: 50pt;
    color: #3D3935;
}
.download_area {
    margin-top: 120px;
}
.download_area img {
    width: 200px;
    height: 70px;
    margin: 25px;
}
.btn {
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-outline-danger {
    color: #F4313F;
    background-color: transparent;
    background-image: none;
    border-color: #F4313F;
    width: 100px;
  }
  
.btn-outline-danger:hover {
    color: #fff;
    background-color: #F4313F;
    border-color: #F4313F;
}
.login {
    margin-right: 15px;
}
.feliz {
    color: #F4313F;
}
.button_down {
    position: absolute;
    margin-top: 35em;  
}
.button_down button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.button_down img {
    width: 40px;
    height: 40px;
}
.button_down img:hover {
    width: 43px;
    height: 43px;
    transition: 0.2s;
}
.sistema_area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    height: 575px; 
    padding: 100px;
}
.area_text_sistema {
    display: flex;
    flex-direction: column;
    width: 600px;
}
.area_text_sistema h3 {
    font-weight: bold;
    font-size: 40pt;
    font-family: 'Dancing Script', cursive;
}
.area_text_sistema p {
    font-size: 13pt;
    font-family: 'Roboto', sans-serif;
}
.area_image_sistema img {
    height: 450px;
    width: 500px;
}
.centralizar {
    left: 50%;
}
.funcionalidades_area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 575px; 
    padding: 40px;
    font-family: 'Roboto', sans-serif;
    background: url('../img/background_funcio.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.funcionalidades_area h3 {
    font-weight: bold;
    font-size: 55pt;
    font-family: 'Rudiment';
    margin-bottom: 20px;
    margin-top: 10px;
    color:#FFB500;
}
.items_func {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.items_func img {
    width: 80px;
    height: 80px;
}
.item_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
    margin: 20px;
}
.item_area h4 {
    font-family: 'Rudiment';
    font-size: 20pt;
    color: #FFB500;
    margin-bottom: 10px;
}
.item_area p {
    margin-top: 0px;
    color: #ffffff;
}
.map_area {
    height: 615px;
    text-align: center;
}
.map_area h3{  
    color: #3D3935;
    font-size: 16pt;
    margin: 0px;
    background-color: #FFB500;
    padding: 20px;
    position: absolute;
    margin-left: 38%;
}

.rodape {
    margin: 0px;
    background-color: #3D3935;
    height: 30px;
    width: 100%;
}
.rodape p {
    margin: 0px;
    text-align: center;
    font-size: 10pt;
    color: #FFFFFF;
    line-height: 30px;
}
.map_area img {
    width: 100%;
    height: 615px;
}
