$margin-wrapper: 240;
.mainbox{
    width: calc(100% - #{$margin-wrapper * 1.13}px);
    margin-top: 15px;
    margin-left: #{$margin-wrapper}px;
    padding: 9px;
    transition: all 0.3s ease;
    background-color: white;
    border-width: medium;
    border: 2px solid;
    border-color: grey;
    font-weight: bold;
    
    .Edit{
        border: 2px solid rgb(211, 0, 0);
        margin-left: 93%;
        padding: 5px;
        font-weight: bold;
        cursor: pointer;
        color: rgb(211, 0, 0);;
        background-color: rgb(255, 255, 255);
    }
}